* {
  scroll-behavior: smooth;
}

a {
  color: black;
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  margin: 0;
  position: relative;
  /* Penting untuk posisi ::before */

}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(bg-mochi.png);
  background-size: cover;
  background-position: center;
  filter: blur(8px) brightness(0.7);
  /* Membuat blur dan sedikit gelap */
  z-index: -1;
  /* Meletakkan gambar di belakang konten */
}

.logo {
  width: 70px;
  margin-right: 20px;
}

ul {
  display: flex;
  align-items: center;
  gap: 12px;
}

.container {
  background: linear-gradient(-145deg, #FFF7CD, #FDC3A1, #FB9B8F, #F57799);
  position: relative;
  z-index: 1;
  width: 50%;
  height: 100%;
  border-radius: 50px 50px 0px 0px;
  font-family: "Coiny", system-ui;
  font-weight: 400;
  font-style: normal;
}

.hero {
  background-image: linear-gradient(rgba(255, 255, 255, 0.342), rgba(255, 255, 255, 0.342)), url(main-bg.png);
  background-size: cover;
  background-position: center;
  padding: 100px 20px;
  text-align: center;
  color: #000;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}


/* nav {

} */


.menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

.card {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 8px;
  text-align: center;
}

.card-produk {
  background-color: aliceblue;
  border: 1px solid;
  grid-row: span 3 / span 3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

/* .card-produk:hover {} */


.keranjang {
  text-align: center;
}

button.orderwa {
  background-color: #25D366;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 20px;
}

footer {
  background-color: red;
  text-align: center;
  height: 200px;
  font-family: "Zalando Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}